html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #c70100;
    background-image: url("assets/background.png");
    background-size: cover;
    color: #fff;
}

h1 {
    font-size: 20px;
    margin: 50px auto 25px;
    max-width: 1150px;
}

.hero {
    font-size: 50px;
    font-weight: 300;
    margin: 50px auto 25px;
    max-width: 1150px;
    text-align: center;
}

section {
    background: rgba(255, 255, 255, .22);
    margin: 10px auto;
    max-width: 1150px;
    min-height: 65vh;
}

p {
    margin: 5px 12px;
}

footer {
    bottom: 10px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
}

footer a, footer a:hover, footer a:visited, footer a:active  {
    color: #fff;
    margin: 0 15px;
}